:root {
  --primary: #ff6700;
  --primary-dark: #d15500;
  --secondary: #27637f;
  --secondary-alt: #6d929a;
  --backsplash: #ebebeb;
}


/* fix margins so both sides are even and container is centered */
.container {
  width: 100%;
  max-width: 700px;
  padding: 1rem;

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--backsplash);
}










/*Form Input */
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


/*fix alignment so categories always appear before input*/
.input-line {
  margin: 1vh;
  padding: 1vh;
}


form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--backsplash);
  border-radius: 10px;
  padding: 4vw;
  margin-top: 33%;
}

/*End Form input*/


/*Navigation*/

.fa-bars{
  color: var(--primary);
  cursor: pointer;
}
.nav-links {
  position: absolute;
  overflow: hidden;
  height: 80%;
  background-color: var(--primary);
  transition-timing-function: ease-in;
  transition: 1s;
  transform: translateX(-100%);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  padding: 2rem;

}

.nav-links li {
  margin-top: 4rem;
  cursor: pointer;
}

.nav-links li a {
  text-decoration: none;
  color: var(--backsplash);
  margin-top: 2rem;
}


.nav-links-active {
  transition-timing-function: ease-out;
  transition: 1s;
  transform: translateX(0%);
}



/*End navigation*/





/* Create Profile */


.dashboard {
  list-style-type: none;
}


/* Profile Picture */
/* span .profile-picture{
  background-color: var(--backsplash);
  height: 10vh;
  width: 10vw;
  border-radius: 50%; */

/*Dashboard styling*/


span {
  padding: 5px;
  color: var(--primary-dark);
  font-weight: bold;
}


input {
  align-items: center;
  justify-content: center;
  border: 1px var(--primary) solid;
  margin: 0 auto;
  border-radius: 10px;
  color: var(--primary);
}

/* #save-cancel {
  align-self: center;
}

#save-cancel input {
  margin: 10px;
  padding: 5px;
} */

.res-settings li{
  margin-bottom: .25em;
}

.res-settings li ul {
  list-style: none;
  /* position: absolute; */
  background-color: var(--backsplash);
  /* border: solid thin var(--primary) */
}

.res-settings li ul li {
  padding: 1em;
  /* border: solid thin var(--primary) */
}
.res-settings .fa-chevron-right{
  margin-left: .5em;
}

.res-settings .fa-chevron-right .down{
  transform: rotate(90deg);
}

.ul-is-hidden {
  display: none;
}

.selected {
  background-color: var(--secondary-alt);
}

a {
  background: none;
  color: var(--primary);
}

/* Contact Us*/

address ul {
  list-style-type: none;
}


address ul li ul {
  margin: 5vh;
}

/* Reservations */


#reserve-now{
  text-decoration: none;
}
.resContainer, .resContainer ul{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  list-style-type: none;
}

.resContainer li {
  padding: 3px;
}

.res-settings {
  list-style-type: none;
  color: var(--primary);
}

.res-settings li {
  cursor: pointer;
}
